# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# All .vscode folders
**/.vscode/*

# Project specific executables
1.1_1.2_plusMinus/plusMinus
1.3_sizeOfTypes/sizeOfTypes
1.4_circleDimensions/circleDimensions
2.1_2.2_fuelConsumption/fuelConsumption
2.3_gymMembership/gymMembership
2.4_BMI/BMI
2.5_personNumber/personNumber
2.6_multiMillionaire/multiMillionaire
2.7_fibonacci/fibonacci
3.1_intList/intList
